body {
    background-image: url(image.jpg);
    background-size: cover;
}

.App-header {
    color: white;
    margin-left: 30px;
    font-size: 30px;
    margin-top: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.spell {
    color:white;
    margin-left: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.read {
    color:white;
    margin-top: 30px;
    margin-left: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.spellinput {
    width: 15%;
    padding: 10px 12px;
}

.readinput {
    width: 15%;
    padding: 10px 12px;
}

.readbutton {
    margin-left : 10px;
    padding: 10px 12px;
    width: 8%;
}

.spellbutton {
    margin-left : 10px;
    padding: 10px 12px;
    width: 8%;
}

.readoutput {
    color: white;
    font-size: 30px;
    margin-top: 30px;
    margin-left : 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.spelloutput {
    color: white;
    font-size: 30px;
    margin-top: 30px;
    margin-left : 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App-footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    position: fixed;
    bottom: 0px;
    left: 700px;
}